{% extends "base.html" %}

{% block title %} Deals {% endblock title %}

{% block body %}

<!-- Page -->
<div class="panel panel-primary">

  <div class="panel-heading">
    
    <div class="row">
        <div class="col-lg-12">
          <div class="text-heading"> Seguimiento Atención al Cliente
          </div>
        </div>

    </div>
  
  </div>

  <div class="panel-body">

  <div class="row">
        <div class="col-lg-12">

         <table width="100%" class="table table-striped table-hover table-compact" id="dataTables">
          <thead>
            <tr>
              <th colspan="2" class="table-border-right">Cliente</th>
              <th colspan="3" class="table-border-right">Deal</th>
              <th colspan="2" class="table-border-right" align="center">Seguimiento Pasa a Produccion</th>
              <th colspan="2" class="table-border-right" align="center">Seguimiento dia 7</th>
              <th colspan="2" class="table-border-right" align="center">Seguimiento dia 15</th>
              <th colspan="2" class="table-border-right" align="center">Seguimiento dia 30</th>
              <th colspan="2" class="table-border-right" align="center">Seguimiento dia 60</th>
            </tr>
            <tr>
              <th>CPN</th>
              <th class="table-border-right">Razon Social</th>
              <th>Fecha Prod.</th>
              <th class="table-border-right">Estado</th>
              <th class="table-border-right">Al Dia</th>
              {% for idx in range(0,5) %}
                <th>Fecha</th>
                <th class="table-border-right">Estado</th>
              {% endfor %}

            </tr>
          </thead>
          <tbody>
          {% for item in items %}
            <tr>
              {% set al_dia, ultima_fecha = item.al_dia() %}

              <td><a href="/deal/prod/show/{{item.negocio_id}}">{{item.cpn}}</a></td>
              <td class="table-border-right"><a href="/deal/prod/show/{{item.negocio_id}}">{{item.razon_social}}</a></td>
              <td>{{item.fecha_pase_produccion}}</td>
              <td class="table-border-right">{{item.estado}}</td>
              {% if al_dia == 'NO' %}
                <td class="text-danger table-border-right" align="center">{{al_dia}}</td>
              {% else %}
                <td class="text-success table-border-right" align="center">{{al_dia}}</td>
              {% endif %}
              
              {% for cp in item.checkpoints %}
  
                {% if cp.realizado %}
                  <td class="text-success" align="center"><a href="/deal/checkpoint/edit/{{cp.id}}" class="text-green">{{cp.fecha}}</a></td>
                  <td class="text-success table-border-right">{{cp.estado}}</td>
                {% else %}
                  {% if cp.expirado() %}
                    {% if cp.fecha == ultima_fecha %}
                      <td align="center"><strong><a href="/deal/checkpoint/edit/{{cp.id}}">{{cp.fecha}}</a></strong></td>
                      <td class="table-border-right" align="center"></td>
                    {% else %}
                      <td align="center"><a href="/deal/checkpoint/edit/{{cp.id}}" class="text-red">{{cp.fecha}}</a></td>
                      <td class="table-border-right" align="center"></td>
                    {% endif %}
                  {% else %}
                    <td align="center" class="text-muted">{{cp.fecha}}</td>
                    <td class="table-border-right"></td>
                  {% endif %}
                {% endif %}

              {% endfor %}

            </tr>
          {% endfor %}
         </tbody>
        </table>

       </div>
   </div>

  </div>

</div>

<!-- Page -->

{% endblock body %}


{% block scripts %}

  <script>
      $(document).ready(function() {
          $('#dataTables').DataTable({
              responsive: true,
              stateSave: true,
              searching: true,
              info: true,
              paging: true,
              "order": [0, 'desc'],
              "pageLength": 20,
              "lengthChange": true,
              "lengthMenu": [ 20, 50, 100 ],
              "sDom": "<'row'<'col-lg-6'f><'col-lg-6'l>>t<'row'<'col-lg-6'i><'col-lg-6'p>>",
              "columnDefs": [ { "width": "60px", "targets": [2,5,7,9,11,13] } ]
          });
          $('.dataTables_filter input').css({"width": "60%"});
      });          
  </script>


{% endblock scripts %}

