{% extends "base.html" %}

{% block title %} Deals {% endblock title %}

{% block body %}

<!-- Page -->
<div class="panel panel-primary">

  <div class="panel-heading">
    
    <div class="row">
        <div class="col-lg-12">
          <div class="text-heading"> Seguimiento Atención al Cliente
          </div>
        </div>

    </div>
  
  </div>

  <div class="panel-body">

  <div class="row">
        <div class="col-lg-12">

         <table width="100%" class="table table-striped table-hover" id="dataTables">
          <thead>
            <tr>
              <th>RUC</th>
              <th>CPN</th>
              <th class="table-border-right">Razon Social</th>
              <th>Fecha Prod.</th>
              <th class="table-border-right">Al Dia</th>

              {% for idx in range(0,5) %}
                <th>Check {{idx+1}}</th>
                <th>Fecha</th>
                <th class="table-border-right">Estado</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for item in items %}
            <tr>
              <td><a href="/deal/prod/show/{{item.negocio_id}}">{{item.ruc}}</a></td>
              <td><a href="/deal/prod/show/{{item.negocio_id}}">{{item.cpn}}</a></td>
              <td class="table-border-right"><a href="/deal/prod/show/{{item.negocio_id}}">{{item.razon_social}}</a></td>
              <td>{{item.fecha_pase_produccion}}</td>
              {% if item.al_dia() == 'NO' %}
                <td class="text-danger table-border-right">{{item.al_dia()}}</td>
              {% else %}
                <td class="text-success table-border-right">{{item.al_dia()}}</td>
              {% endif %}

              {% for idx in range(0,5) %}
  
                {% if item.checkpoint(idx).realizado %}
                  <td align="center" class="text-success"><i class="fas fa-check"></i></td>
                  <td class="text-success"><a href="/deal/checkpoint/edit/{{item.checkpoint(idx).id}}" class="text-green">{{item.checkpoint(idx).fecha}}</a></td>
                  <td class="text-success table-border-right">{{item.checkpoint(idx).estado}}</td>
                {% else %}
                  {% if item.checkpoint(idx).expirado() %}
                    <td align="center" class="text-danger"><i class="fas fa-times"></i></td>
                    <td><a href="/deal/checkpoint/edit/{{item.checkpoint(idx).id}}" class="text-red">{{item.checkpoint(idx).fecha}}</a></td>
                    <td class="table-border-right"></td>
                  {% else %}
                    <td align="center"></td>
                    <td>{{item.checkpoint(idx).fecha}}</td>
                    <td class="table-border-right"></td>
                  {% endif %}
                {% endif %}

              {% endfor %}

             </tr>
          {% endfor %}
         </tbody>
        </table>

       </div>
   </div>

  </div>

</div>

<!-- Page -->

{% endblock body %}


{% block scripts %}

  <script>
      $(document).ready(function() {
          $('#dataTables').DataTable({
              responsive: false,
              stateSave: true,
              searching: true,
              info: true,
              paging: true,
              "order": [0, 'desc'],
              "pageLength": 20,
              "lengthChange": true,
              "lengthMenu": [ 20, 50, 100 ],
              "sDom": "<'row'<'col-lg-6'f><'col-lg-6'l>>t<'row'<'col-lg-6'i><'col-lg-6'p>>"
          });
          $('.dataTables_filter input').css({"width": "60%"});
      });          
  </script>


{% endblock scripts %}

