{% extends "base.html" %}

{% block title %} Deals {% endblock title %}

{% block body %}

<!-- Page -->
<div class="row">
  <div class="col-lg-12">

    <div class="row">
       <div class="col-lg-12">

          <div class="row">

            <div class="col-lg-9">    

              <div class="panel panel-primary">
                <div class="panel-heading">

                  <div class="row">
                      <div class="col-lg-12">
                        <div class="text-heading-big text-left">{{deal.razon_social}}</div>
                      </div>
                  </div>
                  <div class="row"> 
                    <div class="col-lg-12">                 
                      <div class="text-heading-small text-right">
                          {% for plan in planes %}
                            {%  if plan['id'] == deal.negocio_id %}                     
                              <a href="/deal/show/{{plan['id']}}" class="back-orange">{{plan['plan']}}</a>
                            {% else %}
                              <a href="/deal/show/{{plan['id']}}">{{plan['plan']}}</a>
                            {% endif %}
                          {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-3">  

              {% if deal.etapa == 'BAJA' %} 
                <div class="panel panel-red">
              {% elif deal.etapa == 'PRODUCCION' %} 
                {% if deal.estado == 'CON USO' %}
                  <div class="panel panel-green">
                {% else %}
                  <div class="panel panel-yellow">
                {% endif %}
              {% elif deal.etapa == 'PEM' and deal.pem_excedido() %}
                  <div class="panel panel-yellow">
              {% else %}
                <div class="panel panel-primary">
              {% endif %}

                <div class="panel-heading">

                  <div class="row">
                      <div class="col-lg-5">
                        <div class="text-heading-big text-left">{{deal.etapa_txt()}}</div>
                      </div>
                      <div class="col-lg-5 text-right">
                        <div class="text-heading-big">{{deal.estado}}</div>
                      </div>
                      <div class="col-lg-2 text-right">
                        <a href="/deal/edit_etapa/{{deal.negocio_id}}"><div class="text-heading-big"><i class="fas fa-edit"></i></div></a>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-heading-small text-left">{{deal.etapa_dias_txt()}}</div>
                    </div>
                  </div>

                </div>

              </div>
            
            </div>

          </div>

       </div> 

      <div class="col-lg-6">   


        <div class="panel panel-primary">

          <div class="panel-body">
                
                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>CPN</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.cpn}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>RUC</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.ruc}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Comercial</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.comercial}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Plan BSale</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.plan_bsale}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Categoria</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.categoria}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Fecha Ganado</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.fecha_ganado}}</p></div>
                </div>

            </div>
            
            <div class="panel-footer">
                <span class="pull-right"><a href="/deal/edit_venta/{{deal.negocio_id}}"><i class="fas fa-edit"></i></a></span>
                <div class="clearfix"></div>
            </div>

          </div>
    

      {% if deal.etapa in ['PEM', 'PRODUCCION', 'BAJA'] %}

      <div class="panel panel-primary">

        <div class="panel-body">
              
              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Ejecutivo PEM</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.ejecutivo_pem}}</p></div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Fecha Inicio PEM</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.fecha_inicio_pem}}</p></div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Fecha Contacto Inicial</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.fecha_contacto_inicial}}</p></div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Fecha Pase a Produccion</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.fecha_pase_produccion}}</p></div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>URL BSale</strong></p></div>
                <div class="col-lg-7 text-left text-info">
                  {% if deal.tiene_url() %}
                    <p><a target="_new" href="{{deal.url_bsale}}">{{deal.url_bsale}}</a></p>
                  {% else %}
                    <p>{{deal.url_bsale}}</p>
                  {% endif %}
                </div>
              </div>

          </div>

          <div class="panel-footer">
            <span class="pull-right"><a href="/deal/edit_pem/{{deal.negocio_id}}"><i class="fas fa-edit"></i></a></span>
            <div class="clearfix"></div>
          </div>

        </div>

      {% endif %}
  

      {% if deal.etapa in ['BAJA'] %}

      <div class="panel panel-primary">

        <div class="panel-body">
              
          <div class="row">
            <div class="col-lg-5"><p class="text-right"><strong>Fecha de Baja</strong></p></div>
            <div class="col-lg-7 text-left text-info"><p>{{deal.fecha_baja}}</p></div>
          </div>

          <div class="row">
            <div class="col-lg-5"><p class="text-right"><strong>Razón de Baja</strong></p></div>
            <div class="col-lg-7 text-left text-info"><p>{{deal.razon_baja}}</p></div>
          </div>

          <div class="row">
            <div class="col-lg-5"><p class="text-right"><strong>Comentario</strong></p></div>
            <div class="col-lg-7 text-left text-info"><p>{{deal.comentario}}</p></div>
          </div>

        </div>

        <div class="panel-footer">
          <span class="pull-right"><a href="/deal/edit_baja/{{deal.negocio_id}}"><i class="fas fa-edit"></i></a></span>
          <div class="clearfix"></div>
        </div>

        </div>

      {% endif %}

      </div>

      <div class="col-lg-6">

      {% if deal.etapa in ['PRODUCCION', 'BAJA'] %}

        <div class="panel panel-primary">

          <div class="panel-body">

            <ul class="timeline">

            {% for cp in deal.checkpoints %}

              {% if cp.realizado %}
              <li class="timeline-inverted">
                  <div class="timeline-badge success"><i class="far fa-calendar-check"></i></div>
              {% elif cp.expirado() %}
              <li class="timeline-inverted">
                  <div class="timeline-badge danger"><i class="far fa-calendar-times"></i></div>
              {% else %}
              <li>
                  <div class="timeline-badge"><i class="far fa-calendar-alt"></i></div>
              {% endif %}

                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">{{cp.nombre}}</h4>
                    
                    {% if cp.realizado %}
                      <p><i class="far fa-calendar-alt"></i> {{cp.fecha}}</p>
                      <p class="text-muted"><i class="far fa-calendar-check"></i> {{cp.fecha_realizado}} - {{cp.estado}}</p>
                    {% else %}
                      <p><i class="far fa-calendar-alt"></i> {{cp.fecha}}</p>
                    {% endif %}
                  </div>
                  <div class="timeline-body">
                    {% if cp.realizado %}
                      <p>{{cp.comentario}}</p>
                    {% endif %}
                    {% if cp.expirado() %}
                    <p class="text-right"><a href="/deal/checkpoint/edit/{{cp.id}}"><i class="fas fa-edit icon-header"></i></a></p>
                    {% endif %}
                  </div>
                </div>
              </li>

            {% endfor %}

            </ul>

          </div>
        
        </div>

      {% endif %}

      </div>

      </div>     

    </div>
  </div>



<!-- Page -->

{% endblock body %}


{% block scripts %}

{% endblock scripts %}

