{% extends "base.html" %}

{% block title %} Deals {% endblock title %}

{% block body %}

<!-- Page -->
<div class="row">
  <div class="col-lg-12">

    <div class="row">

      <div class="col-lg-6">        

        <div class="panel panel-primary">

          <div class="panel-heading">
            
            <div class="row">
                <div class="col-lg-10">
                  <div class="text-heading">Venta</div>
                </div>
                <div class="col-lg-2">
                  <div class="text-heading text-right"></div>
                </div>
            </div>
          
          </div>

          <div class="panel-body">
                
                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>ID Negocio</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.negocio_id}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>CPN</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.cpn}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>RUC</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.ruc}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Razon Social</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.razon_social}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Comercial</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.comercial}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Plan BSale</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.plan_bsale}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Categoria</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.categoria}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Fecha Ganado</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.fecha_ganado}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Etapa</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.etapa}}</p></div>
                </div>

            </div>

          </div>
    

      {% if deal.etapa in ['PEM', 'PRODUCCION', 'BAJA'] %}

      <div class="panel panel-primary">

        <div class="panel-heading">
          
          <div class="row">
              <div class="col-lg-10">
                <div class="text-heading">Puesta en Marcha</div>
              </div>
              <div class="col-lg-2">
                <div class="text-heading text-right"></div>
              </div>
          </div>
        
        </div>

        <div class="panel-body">
              
              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Ejecutivo PEM</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.ejecutivo_pem}}</p></div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Fecha Inicio PEM</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.fecha_inicio_pem}}</p></div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Fecha Contacto Inicial</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.fecha_contacto_inicial}}</p></div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Dias en PEM</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.dias_pem()}}</p></div>
              </div>

          </div>

        </div>

      {% endif %}
  
      </div>

      <div class="col-lg-6">

      {% if deal.etapa in ['PRODUCCION', 'BAJA'] %}

      <div class="panel panel-primary">

        <div class="panel-heading">
          
          <div class="row">
              <div class="col-lg-10">
                <div class="text-heading">Estado</div>
              </div>
              <div class="col-lg-2">
                <div class="text-heading text-right"><a href="/deal/edit_prod/{{deal.negocio_id}}"><i class="fas fa-edit icon-header"></i></a></div>
              </div>
          </div>
        
        </div>

        <div class="panel-body">
              
              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Estado</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.estado}}</p></div>
              </div>


              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Fecha Pase a Produccion</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.fecha_pase_produccion}}</p></div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>URL BSale</strong></p></div>
                <div class="col-lg-7 text-left text-info">
                  {% if deal.tiene_url() %}
                    <p><a target="_new" href="{{deal.url_bsale}}">{{deal.url_bsale}}</a></p>
                  {% else %}
                    <p>{{deal.url_bsale}}</p>
                  {% endif %}
                </div>
              </div>

          </div>

        </div>


        <div class="panel panel-primary">
          <div class="panel-heading">
            
            <div class="row">
                <div class="col-lg-10">
                  <div class="text-heading">Checkpoints</div>
                </div>
                <div class="col-lg-2">
                  <div class="text-heading text-right"><a href="/deal/checkpoint/add/{{deal.negocio_id}}"><i class="fas fa-plus-circle"></i></a></div>
                </div>
            </div>
          
          </div>

          <div class="panel-body">
  
          {% for cp in deal.checkpoints %}
            
              <div class="panel panel-primary">
                  
                <div class="row">
                  <div class="col-lg-12"><p class="text-right"><a href="/deal/checkpoint/edit/{{cp.id}}"><i class="fas fa-edit icon-header"></i></a></p></div>
                </div>

                <div class="row">
                  <div class="col-lg-5"><p class="text-right"><strong>Nombre</strong></p></div>
                  <div class="col-lg-7 text-left text-info"><p>{{cp.nombre}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-5"><p class="text-right"><strong>Fecha</strong></p></div>
                  <div class="col-lg-7 text-left text-info"><p>{{cp.fecha}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-5"><p class="text-right"><strong>Realizado</strong></p></div>
                  <div class="col-lg-7 text-left text-info"><p>{{cp.realizado}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-5"><p class="text-right"><strong>Comentario</strong></p></div>
                  <div class="col-lg-7 text-left text-info"><p>{{cp.comentario}}</p></div>
                </div>

              </div>

          {% endfor %}

          </div>

        </div>

        {% endif %}

        {% if deal.etapa in ['BAJA'] %}

        <div class="panel panel-primary">

          <div class="panel-heading">
            
            <div class="row">
                <div class="col-lg-10">
                  <div class="text-heading">Baja</div>
                </div>
                <div class="col-lg-2">
                  <div class="text-heading text-right"><a href="/deal/edit_baja/{{deal.negocio_id}}"><i class="fas fa-edit icon-header"></i></a></div>
                </div>
            </div>
          
          </div>

          <div class="panel-body">
                
                <div class="row">
                  <div class="col-lg-5"><p class="text-right"><strong>Fecha de Baja</strong></p></div>
                  <div class="col-lg-7 text-left text-info"><p>{{deal.fecha_baja}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-5"><p class="text-right"><strong>Razón de Baja</strong></p></div>
                  <div class="col-lg-7 text-left text-info"><p>{{deal.razon_baja}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-5"><p class="text-right"><strong>Comentario</strong></p></div>
                  <div class="col-lg-7 text-left text-info"><p>{{deal.comentario}}</p></div>
                </div>

          </div>

          </div>

          {% endif %}
  
      </div>

      </div>     

    </div>
  </div>



<!-- Page -->

{% endblock body %}


{% block scripts %}

{% endblock scripts %}

