{% extends "base.html" %}

{% block title %} Deals {% endblock title %}

{% block body %}

<!-- Page -->
<div class="row">
  <div class="col-lg-12">

    <div class="row">

      <div class="col-lg-6">        

        <div class="panel panel-primary">

          <div class="panel-heading">
            
            <div class="row">
                <div class="col-lg-10">
                  <div class="text-heading">Venta</div>
                </div>
                <div class="col-lg-2">
                  <div class="text-heading text-right"></div>
                </div>
            </div>
          
          </div>

          <div class="panel-body">
                
                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>ID Negocio</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.negocio_id}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>CPN</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.cpn}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>RUC</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.ruc}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Razon Social</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.razon_social}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Comercial</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.comercial}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Plan BSale</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.plan_bsale}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Categoria</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.categoria}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Fecha Ganado</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.fecha_ganado}}</p></div>
                </div>

                <div class="row">
                  <div class="col-lg-4"><p class="text-right"><strong>Etapa</strong></p></div>
                  <div class="col-lg-8 text-left text-info"><p>{{deal.etapa}}</p></div>
                </div>

            </div>

          </div>
    

      {% if deal.etapa in ['PEM', 'PRODUCCION', 'BAJA'] %}

      <div class="panel panel-primary">

        <div class="panel-heading">
          
          <div class="row">
              <div class="col-lg-10">
                <div class="text-heading">Puesta en Marcha</div>
              </div>
              <div class="col-lg-2">
                <div class="text-heading text-right"></div>
              </div>
          </div>
        
        </div>

        <div class="panel-body">
              
              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Ejecutivo PEM</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.ejecutivo_pem}}</p></div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Fecha Inicio PEM</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.fecha_inicio_pem}}</p></div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Fecha Contacto Inicial</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.fecha_contacto_inicial}}</p></div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Dias en PEM</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.dias_pem()}}</p></div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Fecha Pase a Produccion</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.fecha_pase_produccion}}</p></div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Dias en Produccion</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.dias_prod()}}</p></div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>URL BSale</strong></p></div>
                <div class="col-lg-7 text-left text-info">
                  {% if deal.tiene_url() %}
                    <p><a target="_new" href="{{deal.url_bsale}}">{{deal.url_bsale}}</a></p>
                  {% else %}
                    <p>{{deal.url_bsale}}</p>
                  {% endif %}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-5"><p class="text-right"><strong>Estado</strong></p></div>
                <div class="col-lg-7 text-left text-info"><p>{{deal.estado}}</p></div>
              </div>


          </div>

        </div>

      {% endif %}
  
      </div>

      <div class="col-lg-6">

      {% if deal.etapa in ['PRODUCCION', 'BAJA'] %}

        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-12">
                <div class="text-heading">Seguimiento</div>
              </div>
            </div>
          </div>

          <div class="panel-body">

            <ul class="timeline">

            {% for cp in deal.checkpoints %}

              {% if cp.realizado %}
              <li class="timeline-inverted">
                  <div class="timeline-badge success"><i class="far fa-calendar-check"></i></div>
              {% elif cp.expirado() %}
              <li class="timeline-inverted">
                  <div class="timeline-badge danger"><i class="far fa-calendar-times"></i></div>
              {% else %}
              <li>
                  <div class="timeline-badge"><i class="far fa-calendar-alt"></i></div>
              {% endif %}

                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">{{cp.nombre}}</h4>
                    
                    {% if cp.realizado %}
                      <p><i class="far fa-calendar-alt"></i> {{cp.fecha}}</p>
                      <p class="text-muted"><i class="far fa-calendar-check"></i> {{cp.fecha_realizado}} - {{cp.estado}}</p>
                    {% else %}
                      <p><i class="far fa-calendar-alt"></i> {{cp.fecha}}</p>
                    {% endif %}
                  </div>
                  <div class="timeline-body">
                    {% if cp.realizado %}
                      <p>{{cp.comentario}}</p>
                    {% endif %}
                    {% if cp.expirado() %}
                    <p class="text-right"><a href="/deal/checkpoint/edit/{{cp.id}}"><i class="fas fa-edit icon-header"></i></a></p>
                    {% endif %}
                  </div>
                </div>
              </li>

            {% endfor %}

            </ul>

          </div>
        
        </div>

      {% endif %}

      </div>

      </div>     

    </div>
  </div>



<!-- Page -->

{% endblock body %}


{% block scripts %}

{% endblock scripts %}

