{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block body %}

<!-- Page -->
<div class="panel panel-primary">

  <div class="panel-heading">

    <div class="row">
        <div class="col-lg-12">
            <div class="text-heading">Churn</div>
        </div>
    </div>

  </div>

  <div class="panel-body">

  <div class="row">
    <div class="col-lg-6">

        <table width="100%" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Mes</th>
              <th align="center">Clientes D1</th>
              <th align="center">Ventas Mes</th>
              <th align="center">Bajas Mes</th>
              <th align="center">Neto Mes</th>
              <th align="center">Total Clientes</th>
              <th align="center">Total Bajas</th>
              <th align="center">Churn Rate</th>
            </tr>
          </thead>
          <tbody>
            {% for item in data %}
              <tr>
                <td>{{item['mes']}}</td>
                <td align="center" style="color: {{colors[0]}};">{{item['clientes_d1']}}</td>
                <td align="center"><a href="/deal/list/mes/{{item['mes']}}" style="color: {{colors[0]}};">{{item['clientes_m']}}</a></td>
                <td align="center"><a href="/deal/list/bajas/mes/{{item['mes']}}" style="color: {{colors[1]}};">{{item['bajas_mes']}}</a></td>
                <td align="center" style="color: {{colors[3]}};">{{item['neto']}}</td>
                <td align="center" style="color: {{colors[0]}};">{{item['clientes']}}</td>
                <td align="center" style="color: {{colors[1]}};">{{item['bajas']}}</td>
                <td align="center">{{item['churn']}} %</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    
      <h3 class="text-center">Churn Rate (%)</h3>
      <div id="churn_rate" style="height: 250px;"></div>

    </div>

    <div class="col-lg-6">
      <h3 class="text-center">Clientes vs Bajas Totales</h3>
      <div id="churn_stats" style="height: 250px;"></div>
      <h3 class="text-center">Nuevos Clientes, Bajas y Neto Mensual</h3>
      <div id="clientes_bajas_mensual" style="height: 250px;"></div>
    </div>

  </div>

  </div>

</div>


<!-- Page -->

{% endblock body %}


{% block scripts %}

  <script>

    new Morris.Area({
      element: 'churn_stats',
      data: [{% for item in data %}
                { 
                  mes:"{{item['mes']}}", 
                  deals_baja:{{item['bajas']}},
                  deals_vend:{{item['clientes']}},
                },
             {% endfor %}],
      xkey: 'mes',
      ykeys: ['deals_baja', 'deals_vend'],
      labels: ['Baja', 'Vendidos'],
      hideHover: 'auto',
      lineColors: ['{{colors[1]}}', '{{colors[0]}}'],
      stacked: false,
      xLabelAngle: 0
    });

    new Morris.Line({
      element: 'clientes_bajas_mensual',
      data: [{% for item in data %}
                { 
                  mes:"{{item['mes']}}", 
                  bajas_m:{{item['bajas_mes']}},
                  clientes_m:{{item['clientes_m']}},
                  neto_m:{{item['neto']}},
                },
             {% endfor %}],
      xkey: 'mes',
      ykeys: ['bajas_m', 'clientes_m', 'neto_m'],
      labels: ['Bajas', 'Nuevos', 'Neto'],
      hideHover: 'auto',
      lineColors: ['{{colors[1]}}', '{{colors[0]}}', '{{colors[3]}}'],
      stacked: false,
      xLabelAngle: 0
    });

    new Morris.Line({
      element: 'churn_rate',
      data: [{% for item in data %}
                { 
                  mes:"{{item['mes']}}", 
                  churn:{{item['churn']}},
                },
             {% endfor %}],
      xkey: 'mes',
      ykeys: ['churn'],
      labels: ['Churn Rate'],
      hideHover: 'auto',
      stacked: false,
      xLabelAngle: 0
    });

  </script>

{% endblock scripts %}

