{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block body %}

<!-- Page -->
<div class="panel panel-primary">

  <div class="panel-heading">

    <div class="row">
        <div class="col-lg-9">
            <div class="text-heading">Venta vs PEP - {{year}}</div>
        </div>
        <div class="col-lg-3">
            <div class="text-heading text-right">
              {% if year!="2020" %}
              <span class="text-filter"><a href="/stats/ventas_vs_pep/2020"> 2020 </a></span>
              {% endif %}
              {% if year!="2019" %}
              <span class="text-filter"><a href="/stats/ventas_vs_pep/2019"> 2019 </a></span>
              {% endif %}
              {% if year!="2018" %}
              <span class="text-filter"><a href="/stats/ventas_vs_pep/2018"> 2018 </a></span>
              {% endif %}
            </div>
        </div>
    </div>

  </div>

  <div class="panel-body">

  <div class="row">
    <div class="col-lg-4">

        <h3>Ventas</h3>

        <table width="100%" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Mes</th>
              <th align="center">Vendidos</th>
              <th align="center">En PEM</th>
              <th align="center">En Prod.</th>
              <th align="center">En Baja</th>
            </tr>
          </thead>
          <tbody>
            {% for item in data %}
              <tr>
                <td>{{item['mes']}}</td>
                <td align="center" style="color: {{colors[3]}};"><a href="/deal/list/mes/{{item['mes']}}">{{item['deals_vend']}}</a></td>
                <td align="center" style="color: {{colors[0]}};">{{item['deals_en_pem']}}</td>
                <td align="center" style="color: {{colors[1]}};">{{item['deals_en_prod']}}</td>
                <td align="center" style="color: {{colors[2]}};">{{item['deals_en_baja']}}</td>
              </tr>
            {% endfor %}
            <tr>
              <td><strong>Total</strong></td>
                <td align="center"><strong style="color: {{colors[3]}};">{{totales['deals_vend']}}</strong></td>
                <td align="center"><strong style="color: {{colors[0]}};">{{totales['deals_en_pem']}}</strong></td>
                <td align="center"><strong style="color: {{colors[1]}};">{{totales['deals_en_prod']}}</strong></td>
                <td align="center"><strong style="color: {{colors[2]}};">{{totales['deals_en_baja']}}</strong></td>
              </tr>
          </tbody>
        </table>

        <div id="total_ventas_stats" style="height: 250px;"></div>
    
        <h3>Puesta en Producción</h3>

        <table width="100%" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Mes</th>
              <th align="center">Pase a Prod.</th>
              <th align="center"> >30 días </th>
              <th align="center">Prom. Dias PEM</th>
            </tr>
          </thead>
          <tbody>
            {% for item in data %}
              <tr>
                <td>{{item['mes']}}</td>
                <td align="center" style="color: {{colors[4]}};"><a href="/deal/list/mes/produccion/{{item['mes']}}">{{item['deals_pep']}}</a></td>
                <td align="center" style="color: {{colors[4]}};">{{item['deals_over_days']}}</td>
                <td align="center" style="color: {{colors[4]}};">{{item['tiempo_prom_pem']}}</td>
              </tr>
            {% endfor %}
            <tr>
              <td><strong>Total</strong></td>
                <td align="center"><strong style="color: {{colors[4]}};">{{totales['deals_pep']}}</strong></td>
                <td align="center"><strong style="color: {{colors[4]}};">{{totales['deals_over_days']}}</strong></td>
                <td></td>
            </tr>
          </tbody>
        </table>

    </div>

    <div class="col-lg-8">
      <h3 class="text-center">Ventas vs Puesta en Producción por Mes</h3>
      <div id="pem_stats" style="height: 250px;"></div>
      <h3 class="text-center">Etapa de Negocios Vendidos por Mes</h3>
      <div id="ventas_stats" style="height: 250px;"></div>
      <h3 class="text-center">Dias de Puesta en Producción por Cliente</h3>
      <div id="pem_dias_stats" style="height: 250px;"></div>
    </div>

  </div>

  </div>

</div>


<!-- Page -->

{% endblock body %}


{% block scripts %}

  <script>

    new Morris.Bar({
      element: 'ventas_stats',
      data: [{% for item in data %}
                { mes:"{{item['mes']}}", 
                  deals_en_pem:{{item['deals_en_pem']}}, 
                  deals_en_prod:{{item['deals_en_prod']}},
                  deals_en_baja:{{item['deals_en_baja']}} },
             {% endfor %}],
      xkey: 'mes',
      ykeys: ['deals_en_pem','deals_en_prod','deals_en_baja'],
      labels: ['PEM','Prod.','Baja'],
      hideHover: 'auto',
      barColors: ['{{colors[0]}}', '{{colors[1]}}', '{{colors[2]}}'],
      stacked: true,
      xLabelAngle: 0
    });

    new Morris.Bar({
      element: 'pem_stats',
      data: [{% for item in data %}
                { mes:"{{item['mes']}}", deals_vend:{{item['deals_vend']}}, deals_pep:{{item['deals_pep']}} },
             {% endfor %}],
      xkey: 'mes',
      ykeys: ['deals_vend','deals_pep'],
      labels: ['Vendidos','PEP'],
      hideHover: 'auto',
      barColors: ['{{colors[3]}}', '{{colors[4]}}'],
      stacked: false,
      xLabelAngle: 0
    });

    Morris.Donut({
      element: 'total_ventas_stats',
      data: [
        {label: "PEM", value: {{totales['deals_en_pem_prc']}} },
        {label: "Produccion", value: {{totales['deals_en_prod_prc']}} },
        {label: "Baja", value: {{totales['deals_en_baja_prc']}} }
      ],
      colors : ['{{colors[0]}}', '{{colors[1]}}', '{{colors[2]}}'],
      formatter: function (value, data) { return value + '%'; }
    });

    new Morris.Bar({
      element: 'pem_dias_stats',
      data: [{% for item in data_dias %}
                { fecha:"{{item['fecha_pep']}}", dias:{{item['dias']}} },
             {% endfor %}],
      xkey: 'fecha',
      ykeys: ['dias'],
      labels: ['Dias PEP'],
      hideHover: 'auto',
      barColors: ['{{colors[3]}}'],
      stacked: false,
      xLabelAngle: 0,
      ymax: 120
    });

  </script>

{% endblock scripts %}

